BasedOnStyle: Google

AccessModifierOffset: 0
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentExternBlock: NoIndent
IndentWidth: 4
InsertNewlineAtEOF: true
PointerAlignment: Right
