BasedOnStyle: Google

AccessModifierOffset: 0
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BraceWrapping:
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  BeforeWhile: true
BreakBeforeBraces: Custom
ColumnLimit: 80
DerivePointerAlignment: false
IndentExternBlock: NoIndent
IndentWidth: 4
LineEnding: LF
PointerAlignment: Right
