BasedOnStyle: Google

AccessModifierOffset: 0
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Allman
ColumnLimit: 80
DerivePointerAlignment: false
IndentExternBlock: NoIndent
IndentWidth: 4
InsertNewlineAtEOF: true
PointerAlignment: Right
