BasedOnStyle: Google

AccessModifierOffset: -4
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
ColumnLimit: 80
IndentAccessModifiers: false
IndentExternBlock: NoIndent
IndentWidth: 4
InsertNewlineAtEOF: true
PointerAlignment: Right
